.product {
  width: 350px;
}

.product p {
  font-size: 16px;
  margin: 6px 0px;
  font-family: "poppins";
}
.img-container img {
  height: 400px;
}

.product-prices {
  display: flex;
  gap: 20px;
}

.product-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins";
}

.product-price-old {
  color: #7c8798;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
  font-family: "poppins";
}

.product:hover {
  transform: scale(1.05);
  transition: 0.6s;
  cursor: pointer;
}
